@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

body {
  background-color: rgb(27, 27, 27);
}

@font-face {
  font-family: harlow;
  src: url(../fonts/harlow-solid-plane.otf);
}
.mosaico {
  background-image: url(../img/mosaico-nav.jpg);
  height: 32px;
}

/*Reinicio ciertas declaraciones de bootstrap que no me gustan*/
p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.titulo {
  font-weight: 600;
}

.row {
  padding: 0;
  margin: 0;
}

strong {
  display: block;
}

.modal-content img {
  max-height: 92vh;
  object-fit: contain;
  background-color: rgb(27, 27, 27);
}

/*-------------------------------------------HEADER STYLE-------------------------------------------------*/
.preHeader {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 235, 235);
  height: 32px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .preHeader {
    display: none;
  }
}
.preHeaderData {
  display: flex;
  align-items: center;
}
.preHeaderData i {
  font-size: 1rem;
  margin-left: 20px;
  color: rgb(211, 211, 211);
}
.preHeader__p {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgb(211, 211, 211);
  margin-top: 5px;
  margin-left: 5px;
}
.preHeader__rs {
  margin-right: 50px;
}
.preHeader__rs i {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-right: 25px;
  color: rgb(211, 211, 211);
}
.preHeader__rs i:hover {
  color: #F30000;
}

.header__imagen {
  background-color: rgb(27, 27, 27);
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 1000px) {
  .header__imagen {
    height: 100px;
    margin-top: 10px;
  }
}

.navbar-nav {
  gap: 25px;
  color: rgb(235, 235, 235);
}
@media screen and (max-width: 1000px) {
  .navbar-nav {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .navbar-nav {
    gap: 5px;
  }
}

.nav-item {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .nav-item {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 700px) {
  .nav-item {
    font-size: 1.5rem;
  }
}

.nav-link {
  color: rgb(235, 235, 235);
  padding: 0;
}
@media screen and (min-width: 1001px) {
  .nav-link:hover {
    color: #F30000;
    border-top: solid 2px #F30000;
  }
}

.activo {
  color: #F30000;
}
.activo:hover {
  color: rgb(235, 235, 235);
}

.navbar__icon {
  width: 30px;
}

.header, .navbar {
  background-color: rgb(27, 27, 27);
}
@media screen and (min-width: 1001px) {
  .header, .navbar {
    height: 110px;
    position: sticky;
    top: 0px;
    z-index: 3;
  }
}

/*------------------------------------------------FOOTER STYLE---------------------------------------------*/
footer {
  color: rgb(235, 235, 235);
  background-color: rgb(27, 27, 27);
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  width: 100%;
}

.footer__mcfly {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  width: 100%;
  color: rgba(171, 175, 179, 0.87);
  text-align: center;
  grid-area: mcfly;
  align-self: center;
}
.footer__mcfly--img {
  height: 10rem;
}
@media screen and (max-width: 1000px) {
  .footer__mcfly--img {
    height: 7rem;
  }
}
.footer__contactos {
  margin-top: 10px;
  margin-bottom: 15px;
  grid-area: contacto;
  text-align: center;
}
.footer__contactos--titulo {
  /*Centro y doy formato al texto*/
  text-align: center;
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .footer__contactos--titulo {
    font-size: 1.7rem;
  }
}
.footer__contactos--texto--titulo {
  font-size: 1.5rem;
}
@media screen and (max-width: 1000px) {
  .footer__contactos--texto--titulo {
    font-size: 1.2rem;
  }
}
.footer__contactos--texto--p {
  font-size: 1rem;
  color: rgba(171, 175, 179, 0.87);
}
@media screen and (max-width: 1000px) {
  .footer__contactos--texto--p {
    font-size: 1rem;
  }
}
.footer__redes {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  grid-area: redes;
}
.footer__redes--titulo {
  font-size: 2rem;
}
@media screen and (max-width: 1000px) {
  .footer__redes--titulo {
    font-size: 1.7rem;
  }
}
.footer__redes i {
  font-size: 100px;
  margin: 5px;
}
@media screen and (max-width: 1000px) {
  .footer__redes i {
    font-size: 70px;
  }
}
.footer__redes i:hover {
  color: #F30000;
}
.footer__derechos {
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  grid-area: derechos;
}

/*------------------------------------------INDEX STYLE---------------------------------------------*/
.mainIndex {
  text-align: center;
  color: #F30000;
  font-family: "harlow", sans-serif;
}
.mainIndex__intro--titulo {
  background-color: rgb(27, 27, 27);
  margin-top: 70px;
  padding-bottom: 15px;
  font-size: 4rem;
}
@media screen and (max-width: 1000px) {
  .mainIndex__intro--titulo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .mainIndex__intro--titulo {
    font-size: 2.5rem;
    margin-top: 25px;
    margin: 5px;
  }
}
.mainIndex__intro--articulo {
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: #F30000;
}
.mainIndex__intro--articulo--video {
  width: 70%;
}
@media screen and (max-width: 1000px) {
  .mainIndex__intro--articulo--video {
    width: 100%;
  }
}
.mainIndex__info {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mainIndex__info--art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainIndex__info--art img {
  width: 60%;
  transition: all 0.5s;
}
@media screen and (min-width: 1001px) {
  .mainIndex__info--art img:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 700px) {
  .mainIndex__info--art img {
    width: 60%;
  }
}
.mainIndex__info--art p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(235, 235, 235);
  width: 65%;
  font-family: "Oswald", sans-serif;
}
@media screen and (max-width: 700px) {
  .mainIndex__info--art p {
    font-size: 0.8rem;
    width: 85%;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .mainIndex__info--art {
    margin-top: 30px;
  }
}
.mainIndex__pedidos {
  background-color: rgb(27, 27, 27);
  padding-bottom: 30px;
  padding-top: 15px;
}
.mainIndex__pedidos--titulo {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 4rem;
}
@media screen and (max-width: 700px) {
  .mainIndex__pedidos--titulo {
    font-size: 2.7rem;
    margin-top: 0px;
  }
}
@media screen and (max-width: 700px) {
  .mainIndex__pedidos {
    padding-top: 5px;
  }
}
.mainIndex__pedidos--cajaimg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
}
@media screen and (max-width: 700px) {
  .mainIndex__pedidos--cajaimg {
    gap: 55px;
  }
}
.mainIndex__pedidos--cajaimg--img {
  height: 100px;
  transition-property: all;
  transition-duration: 0.5s;
}
@media screen and (min-width: 1001px) {
  .mainIndex__pedidos--cajaimg--img:hover {
    transform: scale(1.5);
  }
}
@media screen and (max-width: 700px) {
  .mainIndex__pedidos--cajaimg--img {
    height: 70px;
  }
}
@media screen and (max-width: 350px) {
  .mainIndex__pedidos--cajaimg--img {
    height: 55px;
  }
}

/*-------------------------------------MENÚ STYLE--------------------------------------*/
.menuMF {
  color: rgb(235, 235, 235);
}
.menuMF__titulo {
  background-color: rgb(27, 27, 27);
  margin-top: 70px;
  padding-bottom: 15px;
  text-align: center;
  color: #F30000;
  font-size: 5rem;
  font-family: "harlow", sans-serif;
}
@media screen and (max-width: 1000px) {
  .menuMF__titulo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .menuMF__titulo {
    margin-top: 25px;
    padding-bottom: 5px;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
.menuMF__tarjetas {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  .menuMF__tarjetas {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 700px) {
  .menuMF__tarjetas {
    display: none;
  }
}
.menuMF__tarjetas--titulo {
  color: #F30000;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.menuMF__tarjetas--titulo:hover {
  color: #F30000;
  letter-spacing: 3px;
}
.menuMF__tarjetas--card {
  height: 350px;
  width: 350px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s;
}
@media screen and (min-width: 1001px) {
  .menuMF__tarjetas--card:hover {
    transform: scale(1.05);
    box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.5);
  }
}
.menuMF__tarjetas--card:nth-child(1) {
  background-image: url(../img/menu/fondo1.jpg);
  background-size: 100%;
}
.menuMF__tarjetas--card:nth-child(2) {
  background-image: url(../img/menu/fondo2.jpg);
  background-size: 100%;
}
.menuMF__tarjetas--card:nth-child(3) {
  background-image: url(../img/menu/fondo3.jpg);
  background-size: 100%;
}
.menuMF__menuCompleto {
  margin-top: 75px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.menuMF__menuCompleto a {
  width: 25%;
  border: 1px solid #F30000;
  transition: all 0.5s;
  border-radius: 35px;
}
.menuMF__menuCompleto a img {
  border-radius: 35px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .menuMF__menuCompleto a {
    width: 60%;
    border-radius: 35px;
  }
}
@media screen and (max-width: 700px) {
  .menuMF__menuCompleto a {
    width: 70%;
  }
}
@media screen and (min-width: 1001px) {
  .menuMF__menuCompleto a:hover {
    transform: scale(1.05);
    box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.5);
  }
}
.menuMF__menuCompleto--titulo, .menuMF__extras--titulo, .menuMF__burgers--titulo {
  width: 100%;
  color: #F30000;
  text-align: center;
  font-size: 3.5rem;
  font-family: "harlow", sans-serif;
  margin-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .menuMF__menuCompleto--titulo, .menuMF__extras--titulo, .menuMF__burgers--titulo {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .menuMF__menuCompleto {
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 700px) {
  .menuMF__menuCompleto {
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
  }
}
.menuMF__burgers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px, repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo";
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (max-width: 700px) {
  .menuMF__burgers {
    display: flex;
    flex-wrap: wrap;
  }
}
.menuMF__burgers--titulo {
  grid-area: titulo;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  font-size: 5rem;
}
@media screen and (max-width: 1000px) {
  .menuMF__burgers--titulo {
    margin-top: 20px;
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .menuMF__burgers--titulo {
    margin-top: 25px;
  }
}
.menuMF__burgers--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  flex-wrap: nowrap;
  border: 2px solid #F30000;
  border-radius: 35px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
}
@media screen and (max-width: 700px) {
  .menuMF__burgers--card {
    height: fit-content;
    padding: 15px;
  }
}
@media screen and (min-width: 1001px) {
  .menuMF__burgers--card:hover {
    transform: scale(1.05);
    box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.67);
  }
}
.menuMF__burgers--card--img {
  width: 70%;
  margin-bottom: 8px;
}
.menuMF__burgers--card--titulo {
  font-size: 2rem;
  text-align: center;
  color: #F30000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 5px;
}
.menuMF__burgers--card--texto {
  font-size: 1.1rem;
  margin: 5px;
  margin-bottom: 3%;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}
.menuMF__extras {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 25px;
  justify-content: center;
  align-items: center;
}
.menuMF__extras--titulo {
  margin-top: 75px;
  font-size: 5rem;
}
@media screen and (max-width: 1000px) {
  .menuMF__extras--titulo {
    margin-top: 25px;
    font-size: 3rem;
    margin-bottom: 15px;
  }
}
.menuMF__extras--carousel {
  width: 80%;
  justify-self: center;
}
@media screen and (min-width: 1001px) {
  .menuMF__extras--carousel {
    display: none;
  }
}
.menuMF__extras--galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 2;
  align-items: flex-end;
  grid-template-areas: "img1 img3 img4 img6" "img2 img3 img5 img6";
}
@media screen and (max-width: 1000px) {
  .menuMF__extras--galeria {
    display: none;
  }
}
.menuMF__extras--galeria img {
  width: 95%;
  border: 1px rgb(0, 0, 0) solid;
  transition: all 0.5s;
}
@media screen and (min-width: 1001px) {
  .menuMF__extras--galeria img:hover {
    transform: scale(1.2);
    box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}
.menuMF__extras--galeria--img1 {
  grid-area: img1;
}
.menuMF__extras--galeria--img2 {
  grid-area: img2;
}
.menuMF__extras--galeria--img3 {
  grid-area: img3;
}
.menuMF__extras--galeria--img4 {
  grid-area: img4;
}
.menuMF__extras--galeria--img5 {
  grid-area: img5;
}
.menuMF__extras--galeria--img6 {
  grid-area: img6;
}

@media screen and (max-width: 700px) {
  #mosaicoMenuCompleto {
    display: none;
  }
}

/*---------------------------------------------CONTACTO STYLE----------------------------------------------*/
.contacto__titulo {
  text-align: center;
  margin-top: 65px;
  padding-bottom: 25px;
  text-align: center;
  color: #F30000;
  font-size: 5rem;
  font-family: "harlow", sans-serif;
}
@media screen and (max-width: 1000px) {
  .contacto__titulo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .contacto__titulo {
    margin-top: 25px;
    font-size: 3rem;
    margin: 10px;
  }
}
.contacto__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}
.contacto__form--label {
  color: rgb(235, 235, 235);
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 700px) {
  .contacto__form--label {
    font-size: 1.5rem;
  }
}
.contacto__form--input {
  height: 2rem;
  width: 35%;
  background-color: #470202;
  color: rgb(235, 235, 235);
}
@media screen and (max-width: 700px) {
  .contacto__form--input {
    width: 85%;
  }
}

/*----------------------------------------NOSOTROS STYLE----------------------------------------------*/
.local__titulo {
  text-align: center;
  margin-top: 65px;
  padding-bottom: 25px;
  color: #F30000;
  font-size: 5rem;
  font-family: "harlow", sans-serif;
}
@media screen and (max-width: 1000px) {
  .local__titulo {
    margin-top: 25px;
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .local__titulo {
    font-size: 3rem;
    margin-top: 25px;
    padding-bottom: 15px;
  }
}
.local__cuerpo--mcfly {
  margin-top: 15px;
  margin-bottom: 25px;
}
.local__cuerpo--mcfly span {
  font-size: 2.5rem;
  color: #F30000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 5px;
}
@media screen and (max-width: 700px) {
  .local__cuerpo--mcfly span {
    font-size: 2rem;
    margin: 2px;
  }
}
.local__cuerpo--mcfly p {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: rgb(235, 235, 235);
}
@media screen and (max-width: 700px) {
  .local__cuerpo--mcfly p {
    font-size: 1rem;
  }
}
.local__cuerpo--elementos {
  margin-top: 15px;
}
.local__cuerpo--elementos span {
  font-size: 2rem;
  color: #F30000;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin: 5px;
}
@media screen and (max-width: 700px) {
  .local__cuerpo--elementos span {
    font-size: 1.5rem;
    margin: 2px;
  }
}
.local__cuerpo--elementos p {
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: rgb(235, 235, 235);
}
@media screen and (max-width: 700px) {
  .local__cuerpo--elementos p {
    font-size: 1rem;
  }
}
.local__cuerpo--galeria {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .local__cuerpo--galeria {
    flex-direction: column;
    align-items: center;
  }
}
.local__cuerpo--galeria img {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  width: 30%;
}
@media screen and (max-width: 1000px) {
  .local__cuerpo--galeria img {
    width: 350px;
    height: 307px;
  }
}
@media screen and (max-width: 700px) {
  .local__cuerpo--galeria img {
    width: 207px;
    height: 207px;
  }
}

@media screen and (max-width: 1000px) {
  #cuerpo__galeria--desktop {
    display: none;
  }
}
#cuerpo__galeria--phone {
  display: block;
  clip-path: polygon(0 0, 75% 1%, 100% 100%, 25% 100%);
}
@media screen and (min-width: 1001px) {
  #cuerpo__galeria--phone {
    display: none;
  }
}

/*--------------------------------------------------------------galeria style------------------------------------------------*/
.galeria {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .galeria {
    margin-left: 1px;
    margin-right: 1px;
  }
}
.galeria__titulo {
  text-align: center;
  margin-top: 65px;
  padding-bottom: 25px;
  text-align: center;
  color: #F30000;
  font-size: 5rem;
  font-family: "harlow", sans-serif;
}
@media screen and (max-width: 1000px) {
  .galeria__titulo {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  .galeria__titulo {
    font-size: 3.5rem;
    margin-top: 25px;
    padding-bottom: 15px;
  }
}
.galeria img {
  width: 300px;
  height: 300px;
  transition: all 0.5s;
}
@media screen and (max-width: 1000px) {
  .galeria img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 700px) {
  .galeria img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 1001px) {
  .galeria img:hover {
    transform: scale(1.07);
    border: 2px black solid;
  }
}

/*# sourceMappingURL=style.css.map */
