$paleta: (
 primary: #F30000,
 dark: rgb(27, 27, 27),
 oscuro: rgb(0, 0, 0),
 gris:rgba(171, 175, 179, 0.87),
 claro: rgb(235, 235, 235),
 inputs: #470202,
 cgris: rgb(211, 211, 211),
);

$box-shadow: 10px 10px 9px 2px rgba(0,0,0,0.59);