/*-------------------------------------------HEADER STYLE-------------------------------------------------*/
//Agrego una sección previa al header que contiene información de la página.
//Esta sección se muestra solo en la versión desktop.
.preHeader{
    background-color: map-get($paleta, oscuro);
    color:map-get($paleta, claro);
    height: 32px;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    @include tablet{
        display: none;
    }

    &Data{
        display: flex;
        align-items: center;

        i{
            font-size: 1rem;
            margin-left: 20px; 
            color: map-get($paleta, cgris);
        }
    }

    &__p{
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        color: map-get($paleta, cgris);
        margin-top: 5px;
        margin-left: 5px;
    }
    &__rs{
        margin-right: 50px;
        i{
            font-size: 1.3rem;
            margin-top: 5px;
            margin-right: 25px;
            color: map-get($paleta, cgris);
            &:hover{
                color: map-get($paleta, primary);
            }
        }
    }
}
//Configuro un header con un nav sticky(solo en la versión para mas de 1000px)
.header__imagen{
    background-color: map-get($paleta, dark); 
    height: 100px;  
    margin-top: 5px; 
    margin-bottom: 5px;
    @include tablet{
        height: 100px;
        margin-top: 10px;
    }
}
.navbar-nav{
    gap: 25px;
    color: map-get($paleta, claro);
    @include tablet{
        text-align: center; 
    }
    @include phone{
        gap: 5px;
    }
}
.nav-item{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    @include tablet{
        font-size: 1.7rem;
    }
    @include phone{
        font-size: 1.5rem; 
    }
}
.nav-link{
    color: map-get($paleta, claro);
    padding: 0;
    @include desktop{
        &:hover{
            color: map-get($paleta, primary);
            border-top: solid 2px map-get($paleta, primary);
        }
    }
}
.activo{
    color: map-get($paleta, primary);
    &:hover{
        color: map-get($paleta, claro);
    }
}
.navbar__icon{
    width: 30px;
}
.header,.navbar{
    background-color: map-get($paleta, dark);
    @include desktop{
        height: 110px;
        position: sticky;
        top: 0px; 
        z-index: 3; 
    }
}